html,body{
margin:0;
padding:0;
}

.container_for_all{
display:grid;
grid-template-columns:0.1fr 1.9fr;
}

.all{
}

.sidebar{
background-color:;
width:80px;
overflow:hidden;
}

.menu{
padding-top:20px;
display:grid;
gap:30px;

}

.menu div a{
display:grid;
justify-items: center;
text-decoration:none;
color:black;
}

.menu div img{
width:30px;
}

.menu div p{
font-size:12px;
}

.nav-bar{
width:80px;
position:fixed;
left:0;
height:100%;

/*
display:grid;
grid-template-columns:1fr 1fr;
padding:20px;
position: sticky;
top:0;
z-index:1;
*/
}


header{
height: 40vh;
/*background-image: url("images/b11.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;*/
}

.skills{
background-color:#AAB99A;
padding:5% 0 20% 20px;
/*padding-left:20px;*/
}
.skills-items{
margin-top: 5%;
display: grid;
grid-template-columns:1fr 1fr;
justify-items: center;

}

.skills-items div{
display:grid;
align-content:center;
justify-items: center;
text-align:center;

}

.skills-items div img{
/*border: 5px solid gray ;
border-radius:30% ;
padding:10px ;*/
}

.skills-title{
display: flex;
gap: 2%;
align-items: center;
}


.projects{
padding-bottom: ;
background-color:#D0DDD0;
padding:5% 0 20% 20px;
}
.projects-items{
margin-top: 5%;
display: grid;
grid-template-columns:1fr 1fr;
justify-items: center;
gap: 40px;

}

.projects-title{
display:flex;
align-items: center;
gap:2%;

}

.education{

background-color:#F0F0D7;
padding:5% 0 20% 20px;
}

.institution{
display:grid;
grid-template-columns:1fr 1fr;
margin:5% 2% 5% 5%;
border: outset 5px;


border-radius:20px;
padding:20px;
background-color:#F5ECD5;
}


.education-title{
display:flex;
gap:2%;
align-items: center;
}





.contact{
background-color:#EFF3EA;
padding:5% 0 20% 20px;

}

.contact-title
{
display:flex;
gap:2%;
align-items: center;
}


.email{
display:grid;
justify-items: center;
}



.footer{
background-color: gray;
color: white;
overflow: hidden;
display:grid;
justify-items: center;

}


.social{
display:flex;
gap: 40px;
align-items: center;
}
.social a img{
width:72px;
}

.copyright-item{
font-size:12px;
}
