html,body{
margin:0;
padding:0;
}

.container_for_all{
display:grid;
grid-template-columns:0.1fr 1.9fr;
}



.sidebar{
background-color:;
width:80px;
overflow:hidden;
}

.menu{
padding-top:20px;
display:grid;
gap:30px;

}

.menu div a{
display:grid;
justify-items: center;
text-decoration:none;
color:black;
}

.menu div img{
width:30px;
}

.menu div p{
font-size:12px;
}

.nav-bar{
width:80px;
position:fixed;
left:0;
height:100%;

/*
display:grid;
grid-template-columns:1fr 1fr;
padding:20px;
position: sticky;
top:0;
z-index:1;
*/
}


/*header{
*//*height: 100vh;
width:100%;
background-image: url("images/b12.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;*//*
}*/


.skills{
padding:5% 0 20% 20px;
background-color:#AAB99A;
animation: grow-op linear;
animation-timeline: view();
animation-range: entry 0% cover 40%;

}


@keyframes grow-op{
from{opacity:0; scale:0.5;}
to{opacity:1; scale:1;}
}


.skills-items{
margin-top: 5%;
display: grid;
grid-template-columns:1fr 1fr;
justify-items: center;

}

.skills-items div{
display:grid;
align-content:center;
justify-items: center;
text-align:center;

}


/*
@keyframes grow-img{
from{width:0px;}
to{width:120px;}
}*/

.skills-items div img{
/*animation-name: grow-img;
animation-duration: 2s;
animation-timeline: view();*/
/*border: 5px solid gray ;
border-radius:30% ;
padding:10px ;*/
}

.skills-items div h3{
/*animation-name: grow;
animation-duration: 2S;
animation-timeline: view();*/
}


.skills-title{
display: flex;
gap: 2%;
align-items: center;
}


.projects{
padding-bottom: ;
background-color:#D0DDD0;
padding:5% 0 20% 20px;

animation-name: grow-op;
animation-timeline: view();
animation-range: entry 0% cover 40%;
}
.projects-items{
margin-top: 5%;
display: grid;
grid-template-columns:1fr 1fr;
justify-items: center;
gap: 40px;

}

.projects-title{
display:flex;
align-items: center;
gap:2%;

}

.education{

background-color:#F0F0D7;
padding:5% 0 20% 20px;

animation-name: grow-op;
animation-timeline: view();
animation-range: entry 0% cover 40%;
}

.institution{
display:grid;
grid-template-columns:1fr 1fr;
margin:5% 2% 5% 5%;
border: outset 5px;


border-radius:20px;
padding:20px;
background-color:#F5ECD5;
}


.education-title{
display:flex;
gap:2%;
align-items: center;
}

.contact{
background-color:#EFF3EA;
padding:5% 0 20% 20px;

animation-name: grow-op;
animation-timeline: view();
animation-range: entry 0% cover 40%;

}

.contact-title
{
display:flex;
gap:2%;
align-items: center;
}


.email{
display:grid;
justify-items: center;
}

.footer{
background-color: gray;
color: white;
overflow: hidden;
display:grid;
justify-items: center;

}


.social{
display:flex;
gap: 40px;
align-items: center;
}
.social a img{
width:72px;
}

.copyright-item{
font-size:12px;
}


.hero{
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-sizing:border-box ;
    padding: 5%;
   /*background-color: black;*/
}

.right-hero img{
    width: 400px;
}





.left-hero h1{
    font-size:80px;
    padding-bottom: 0;
    margin-bottom: 0;


    font-family: "Wallpoet", serif;
    font-weight: 400;
    font-style: normal;



}

.left-hero h2{
    font-size:50px;
    font-family: "Sarpanch", serif;
    font-weight: 400;
    font-style: normal;


}


.left-hero p{
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    animation-name: grow-l;
    animation-duration: 2s;
}

@media screen and (max-width:1000px){
    .right-hero img{
        width:200px;
    }
    .left-hero h1{
        font-size:50px;
        font-family: "Wallpoet", serif;
        font-weight: 400;
        font-style: normal;


    }

    .left-hero h2{
        font-size:30px;
        font-family: "Sarpanch", serif;
        font-weight: 400;
        font-style: normal;



    }

.projects-items{
margin-top: 5%;
display: grid;
grid-template-columns:1fr;
justify-items: center;
gap: 40px;

}

.skills-items{
margin-top: 5%;
display: grid;
grid-template-columns:1fr;
justify-items: center;
gap: 40px;
}

}


